@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.card {
    background-color: #875fc0;
    background-size: cover;
}

.marks {
    color: white;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    margin: 15px;

}

.quiz-container {
    background-color: #ffffff;
    height: 40vh;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}

.main-heading {
    text-align: right;
    font-size: 25px;
    font-family: Roboto;
    font-weight: 400;
    color: #323f4b;
    padding: 10px;
    margin: 10px;
}

.paragraph {
    text-align: center;
    font-style: Roboto;
    font-size: 15px;
}

.quiz-image {
    height: 150px;
    width: 250px;
    border-radius: 8px;
    padding: 25px;
    margin: 8px;
}

.options-container {
    background-color: #ffffff;
    height: 60vh;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
}

.option-list {
    padding: 15px;
    margin;
    8px
}

.option {
    border-style: solid;
    border-width: 1px;
    border-color: #323f4b;
    border-radius: 8px;
    font-family: Roboto;
    list-style-type: none;
    padding: 15px;
    margin: 8px;
}

.option-correct-answer {
    background-color: #875fc0;
    background-size: cover;
    border-style: solid;
    border-width: 1px;
    border-color: #323f4b;
    border-radius: 8px;
    font-family: Roboto;
    list-style-type: none;
    padding: 15px;
    margin: 8px;
}

.button {
    color: #ffffff;
    background-color: #fbaf00;
    padding: 8px;
    border-radius: 10px;
    font-size: 10px;
    font-family: Roboto;
}
